#*
*$
*.BAK
*.Z
*.bak
*.class
*.elc
*.ln
*.log
*.merge-left*
*.merge-right*
*.mine
*.o
*.obj
*.olb
*.old
*.orig
*.prej
*.pyc
*.pyo
*.rej
*.working
*~
,*
.#*
.DS_Store
.del-*
.make.state
.nse_depinfo
.svn
CVS.adm
RCS
RCSLOG
SCCS
_$*
_svn
svn-commit*.tmp

/dev
/prod
/tmp
/db
/SQL
/data/*
/enhance_def*
/depl_*
/block_*
/cli.php
/job.php
/daemon.php
/currentDbVersion
/delayedEnhance.db
/src/web/sprites/*
/src/web/files/*
/config